$day-side-length: 100px;
$day-margin: 1px;
$animation-speed: 0.5s;
$border-width: 1px;
$border-color: black;
$text-size: 40px;
$background-color: #eee;
$hover-color: pink;

$WEEKDAYS-COUNT: 7;
$WEEKDAYS-NAME: (tue: 1, wed: 2, thu: 3, fri: 4, sat: 5, sun: 6);

html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  display: none;
}

.calendar {
  display: flex;
  width: (($day-side-length + $day-margin) * $WEEKDAYS-COUNT);
  flex-wrap: wrap;
  counter-reset: dayCount;

  &::before {
    content: "";
  }

  & div {
    background-color: $background-color;
    width: $day-side-length;
    height: $day-side-length;
    margin: 0 $day-margin $day-margin 0;
    border: solid $border-width $border-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $text-size;
    line-height: $day-side-length;
    text-align: center;
    transition: all $animation-speed;
    box-sizing: border-box;
    cursor: pointer;

    &:after {
      counter-increment: dayCount;
      content: counter(dayCount);
    }

    &:hover {
      background-color: $hover-color;
      margin-top: -($day-side-length / 5);
    }
  }
}

@for $i from 28 through 30 {
  .calendar-#{$i} div:nth-child(n + #{$i+1}) {
    display: none;
  }
}

@each $day, $num in $WEEKDAYS-NAME {
  .calendar-#{$day}::before {
    width: ($num * $day-side-length) + ($num * $day-margin);
  }
}
