$day-side-length: 100px;
$day-gap: 1px;
$animation-speed: 0.5s;
$border-width: 1px;
$border-color: black;
$font-size: 40px;
$background-color: #eee;
$hover-color: pink;

$WEEKDAYS-COUNT: 7;
$WEEKDAYS-NAME: (tue: 2, wed: 3, thu: 4, fri: 5, sat: 6, sun: 7);

h1 {
  display: none;
}

.calendar {
  display: grid;
  grid-template-columns: repeat($WEEKDAYS-COUNT, $day-side-length);
  grid-auto-rows: $day-side-length;
  gap: $day-gap $day-gap;
  place-content: center center;
  place-items: stretch stretch;
  counter-reset: dayCount;
  
  div {
    border: solid $border-width $border-color;
    text-align: center;
    line-height: $day-side-length;
    background-color: $background-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size;
    transition: all $animation-speed;
    cursor: pointer;

    &:before {
      counter-increment: dayCount;
      content: counter(dayCount);
    }

    &:hover {
      background-color: $hover-color;
      transform: translateY(-($day-side-length / 5));
    }
  }
}

@for $i from 28 through 30 {
  .calendar-#{$i} div:nth-child(n + #{$i+1}) {
    display: none;
  }
}

@each $week-day, $week-day-num in $WEEKDAYS-NAME {
  .calendar-#{$week-day} {
    div:first-child {
      grid-column: $week-day-num;
    }
  }
}
