$day-side-length: 100px;
$day-gap: 1px;
$animation-speed: 0.5s;
$border-width: 1px;
$border-color: black;
$font-size: 30px;
$background-color: #eee;
$hover-color: pink;

$WEEKDAYS-COUNT: 7;
$WEEKDAYS: (tue: 2, wed: 3, thu: 4, fri: 5, sat: 6, sun: 7);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  position: relative;
}

h1 {
  display: none;
}

.calendar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  grid-template-columns: repeat($WEEKDAYS-COUNT, $day-side-length);
  grid-auto-rows: $day-side-length;
  gap: $day-gap $day-gap;
  counter-reset: dayCount;
  margin: $border-width;
  
  div {
    display: grid;
    border: solid $border-width $border-color;
    background-color: $background-color;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size;
    transition: all $animation-speed;
    cursor: pointer;

    &:before {
      counter-increment: dayCount;
      content: counter(dayCount);
      margin: auto;
    }

    &:hover {
      background-color: $hover-color;
      transform: translateY(-($day-side-length / 5));
    }
  }
}

@for $i from 28 through 30 {
  .calendar-#{$i} div:nth-child(n + #{$i+1}) {
    display: none;
  }
}

@each $week-day, $week-day-num in $WEEKDAYS {
  .calendar-#{$week-day} {
    div:first-child {
      grid-column: $week-day-num;
    }
  }
}
